body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    resize: none;
    padding: 10px;
    border: 1px solid #ccc;
}

label {
    margin-right: 5px;
}
button {
    padding: 8px 15px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 17px;
    margin-top: 10px;
    transition: 0.3s ease;
    font-family: "Roboto";
}
button:hover {
    background: red;
}

section {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000, #0f0, #000);
    animation: animate 5s linear infinite;
}

section span {
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background: #181818;
    z-index: 2;
    transition: 1.5s;
}

section span:hover {
    background: #0f0;
    transition: 0s;
}

section .signin {
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-editor {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.heading {
    background-color: black;
    color: red;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: bold;
}

.options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.button-container {
    text-align: center;
}

.output {
    margin-top: 20px;
    overflow:auto;
}

.output p {
    margin: 0;
    padding: 5px;
    transition: background-color 0.3s ease-in-out;
}

.alert {
    background-color: white;
    color: red;
    text-align: center;
    font-weight: bold;
}

.wrapper {
    border-radius: 7px;
    background: #fff;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}


.options input[type="checkbox"] {
    width: 15px;
    height: 20px;
    transform: scale(1.5);
}

@keyframes animate {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

@media (max-width: 900px) {
    section span {
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
    }
}

@media (max-width: 600px) {
    section span {
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
    }
}